---
interface Props {
  body: string;
}

const { body } = Astro.props;
---

<li
  class="flex items-center py-4 bg-gray-700 text-white p-8 rounded-md font-semibold shadow-md"
>
  <p>
    {body}
  </p>
</li>
